<div>
  <div class="card">
    <div class="card-header row">
      <div class="col-12 row">
       <img class="col-2 w-50" src="https://raw.githubusercontent.com/Sunresh/Sunresh/master/IMG/logo.jpg" />
       <div class="col-10">Sunresh.</div>
      </div>
    <div class="card-text col-12">Sunresh is multiplateform application.</div>
  </div>
  </div>
  <div>
    <h3>Notice::</h3>
    <ol>
      <li>Congratulations to all SEE graduates</li>
      <li><a href="https://see.ntc.net.np/results/grade" target="_blank">SEE Marksheet</a></li>
    </ol>
  </div>
  <div class="card center">
	<div class="h4">YouTube Channel</div>
	<iframe width="100%" height="345" src="https://www.youtube.com/embed/JtahozXxq3E?controls=0"></iframe>
  </div>
</div>
